.nav-main{
  float:left;
  width: 100%;
}
.nav-main__list{
  list-style: none;
}
@media only screen and (min-width: 601px) {
  .nav-main__list{
    display: flex;
  }
}
.nav-main__item{
  float:left;
  width: 100%;
}
@media only screen and (min-width: 601px) {
  .nav-main__item{
    width: auto;
  }
}
.nav-main__link{
  float:left;
  width: 100%;
  color:#505050;
  padding: 10px 20px;
  line-height: 1.3;
}
.nav-main__link:hover{
  color: #4887ff;
}
.nav-main__link.active{
  color: #4887ff;
}
@media only screen and (min-width: 601px) {
  .nav-main__link{
    padding: 10px 0;
    margin-left: 15px;
  }
}