.header-main{
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
  height: 60px;
  width: 100%;
  background-color: var(--c-background);
  box-shadow: var(--c-box-shadow);
  transition: height 0.3s;
}
@media only screen and (min-width: 1025px) {
  .header-main{
    height: 100px;
  }
}
.header-main__container{
  height: 100%;
}
.header-main__flex{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .header-main__drawer{
    position: absolute;
    z-index: 3;
    top: 60px;
    right: 0;
    width: 300px;
    height: calc(100vh - 60px);
    background-color: var(--c-background);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateX(0%);
    transition: transform 0.3s;
  }
  .header-main__drawer[aria-hidden=true]{
    transform: translateX(100%);
  }
}
@media only screen and (min-width: 1025px) {
  .header-main__drawer{
    float:left;
    width: 100%;
    height: 100px;
  }
}