.text {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5;
}
.text p {
  font-weight: 100;
  font-size: 1em;
  line-height: 1.5;
  margin: 0 0 20px 0;
}
.text h1 {
  font-size: 1.375em;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  letter-spacing: 1px;
}
.text h2 {
  font-weight: 900;
  line-height: 1.5;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  letter-spacing: 1px;
}
.text h3 {}
.text h4 {}
.text h5 {}
.text h6 {}
.text ul {
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  list-style: none;
}
.text ul li {
  font-weight: 100;
  font-size: 17px;
  line-height: 2.5;
  position: relative;
  padding: 0 0 5px 20px;
}
.text ul li:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--c-main);
  border-radius: 50%;
  position: absolute;
  top: 9px;
  left: 0;
}
.text ol {
  padding-left: 20px;
  margin: 0 0 15px 0;
}
.text ol li {
  font-weight: 100;
  font-size: 17px;
  line-height: 1.5;
  padding: 0 0 10px 0;
}
.text blockquote {
  float: left;
  width: 100%;
  font-weight: 100;
  font-size: 17px;
  line-height: 1.5;
  position: relative;
}
.text a {
  color: var(--c-link);
  text-decoration: underline;
  transition: color 0.3s;
  word-wrap: break-word;
}
.text a:hover {
  text-decoration: inherit;
  color: var(--c-link-hover);
}
.text table {
  /* Trigger vertical scroll    */
  /* Hide the horizontal scroll */
  display: inline-block;
  width: 100% !important;
  overflow: hidden;
  overflow-x: auto;
  margin-bottom: 20px;
}
.text thead {}
.text thead tr {
  background-color: var(--c-main-30);
}
.text thead th {
  line-height: 1.3;
  border: none;
  padding: 20px;
  overflow: hidden;
  background-clip: padding-box;
  font-weight: 100;
  text-align: left;
}
.text tbody {}
.text tbody tr {
  transition: background-color 0.3s;
  background-color: var(--c-table-row-even);
}
.text tbody tr:nth-of-type(2n) {
  background-color: var(--c-table-row-odd);
}
.text tbody tr:hover{
  background-color: var(--c-table-row-hover);
}
.text td {
  line-height: 1.3;
  border: none;
  padding: 20px;
  overflow: hidden;
  background-clip: padding-box;
  font-weight: 100;
  text-align: left;
}
.text img {
  max-width: 100%;
}
.text strong {
  font-weight: 700;
}
.text em {
  font-style: italic;
}
.text u {
  text-decoration: underline;
}
.text s {
  text-decoration: line-through;
}
.text hr {
  background-color: var(--c-main);
  margin: 0 0 15px 0;
}
.text *:last-child {
  margin-bottom: 0;
}