.heading-one{
  font-size: 2.250em;
  line-height: 1.3;
  color: var(--c-main);
  font-weight: 700;
  text-transform: uppercase;
}
.heading-two {
  font-size: 1.750em;
  line-height: 1.3;
  color: var(--c-main);
  font-weight: 700;
}