.burger{
  float: right;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
  border: 0;
  background-color: transparent;
  will-change: transform;
  position: relative;
  z-index: 4;
  right: -18px;
}
.burger__flex{
  flex:1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger__bars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: 0;
  height: 17px;
  width: 24px;
  outline: 0;
  padding: 0;
  border: 0;
  position: relative;
}
.burger-bar {
  background-color: #505050;
  width: 100%;
  height: 3px;
  position: relative;
  transform: rotate(0deg);
  transition:
          top 0.2s,
          bottom 0.2s,
          background-color 0.2s,
          transform 0.2s;
}
.burger[aria-expanded=true] .burger-bar{
}
.burger-bar--1{
  transform-origin: 50% 50%;
  top:0;
}
.burger-bar--2 {
  transform-origin: 50% 50%;
}
.burger-bar--3 {
  bottom:0;
  transform-origin: 50% 50%;
}
.burger[aria-expanded=true] .burger-bar--1 {
  transform: rotate(45deg);
  top: 7px;
}
.burger[aria-expanded=true] .burger-bar--2 {
  background-color: transparent !important;
}
.burger[aria-expanded=true] .burger-bar--3 {
  transform: rotate(-45deg);
  bottom: 7px;
}
.burger[aria-expanded=true] .burger-bar {

}
@media only screen and (min-width: 601px) {
  .burger{
    display: none;
  }
}