/*Color settings*/
:root {
  /*Main color*/
  --c-main: #505050;

  /*Background colors*/
  --c-background: #ffffff;
  --c-background--grey: #f3f3f3;
  --c-background--light-grey: #f9f9f9;
  /*Border colors*/
  --c-border: #edeef2;
  --c-border-hover: #a0a0a0;
  --c-border-focus: #0066cc;
  --c-border-light: #dcdcdc;

  /*Text colors*/
  --c-text-dark: #242424;
  --c-text-medium: #505050;
  --c-text-light: #8f8f8f;
  --c-text-extra-light: #c3c3c3;
  --c-text-highlight: #981e32;

  /*Link colors*/
  --c-link: #ffe048;
  --c-link-hover: #ffe048;

  /*Input colors*/
  --c-input-placeholder: #a0a0a0;
  --c-input-text: #202020;
  --c-input-label: #404040;

  /*Checkbox colors*/
  --c-checkbox-disabled: #bbbbbb;

  /*Colors by function*/
  --c-accent: #981e32;
  --c-positive: #6abe28;
  --c-negative: #d32f2f;
  --c-average: #ff9c00;
  --c-white: #ffffff;

  /*Table colors*/
  --c-table-row-even: #ffffff;
  --c-table-row-odd: rgba(68, 68, 68, 0.05);
  --c-table-row-hover: rgba(68, 68, 68, 0.2);

  /*Box shadow colors*/
  --c-box-shadow: #000000;

  /*Overlay colors*/
  --c-overlay: rgba(64, 64, 64, 0.8);

  /*Divider colors*/
  --c-divider: #ececec;

  /* Social colors */
  --c-twitter: #00a0f2;
  --c-facebook: #1b7ed1;
  --c-instagram: #b13685;
  --c-youtube: #f2004d;
}