.footer-main{
  float:left;
  width: 100%;
  height: 70px;
  flex:0 0 70px;
  background-color: #505050;
  margin-top: 70px;
  display: flex;
  align-items: center;
}
.footer-main__text{
  color:#ffffff;
}